<!-- 选择城市 -->
<div class="popup popup-services" style="z-index: 100">
    <div class="content-block" ng-controller="CityCtrl">
        <header class="bar bar-nav">
            <h1 class="title">选择城市</h1>
            <a class="icon icon-down close-popup pull-right"></a>
        </header>
        <div class="content">
            <div class="list-block contacts-block" style="margin-top:0">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title" style="color: grey">当前城市</li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">{{getCurentCity()}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-group" ng-repeat="(key, value) in cities">
                    <ul>
                        <li class="list-group-title" style="color: grey">{{key}}</li>
                        <li ng-repeat="item in value">
                            <div class="item-content" ng-click="setCurrentCIty(item.regionName)">
                                <div class="item-inner">
                                    <div class="item-title">{{item.regionName}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>